.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 0;
    left: 0;
    position: absolute;
}
  
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.modal {
    width: 800px;
    min-height: 500px;
    background: white;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modal .close-btn {
    cursor: pointer;
}

.modal .stage-select-container {
    border: 1px solid rgb(209 213 219)
}