.tracker .form {
    background-color: var(--light-blue);
    border-radius: 12px;
    width: 100%;
}
.tracker button {
    font-size: 22px;
    width: auto;
    margin-left: auto;
}
.tracker label {
    padding-left: .5em;
}
.tracker h1 {
    font-weight: 600;
    text-align: left;
    line-height: 1;
}

.tracker p {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 16px;
}

.tracker .form-container {
    width: 100%;
    align-items: flex-end;
    flex-direction: column;
}
.tracker .form-container .content {
    padding: 16px;
}

.tracker .form-container .form-content {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tracker .form-container .form-content .input-container,
.tracker .form-container .form-content .dropdown-container  {
    max-width: 48%;
    width: 100%;
    margin-bottom: 15px;
}
.tracker .form-container .form-content .input-container input { width: 100%; }

.tracker .form-container .form-content .input-container.link {
    margin-top: auto;
}

.tracker .form-container .form-content .textArea-container {
    width: 100%;
    margin-bottom: 15px;
}

.tracker .form-container .form-content .checkbox-container {
    display: inline-flex;
}

.tracker .form-container .form-content .right-btn-container {
    display: flex;
    align-items: center;
}

.tracker .form-container .form-content .right-btn-container .clear-btn {
   color: #fff;
   text-decoration: underline;
   cursor: pointer;
}

@media screen and (max-width: 960px) {
    .tracker .flex {
        flex-direction: column;
    }
    .tracker .form-container {
        order: 1;
    }
    .tracker h1 {
        font-size: 35px;
    }

    .tracker .form-container .form-content .input-container,
    .tracker .form-container .form-content .dropdown-container,
    .tracker .form-container .form-content .textArea-container,
    .tracker .form-container .form-content .checkbox-container {
        max-width: 100%;
    }

}